{
    "baseNextUrl": "http://localhost:3000",
    "baseApiUrl": "http://localhost:8080",
    "testCustomerEmail": "customer.test@gmail.com",
    "testCustomerPassword": "abc1234@",
    "testEntrepreneurEmail": "entrepreneur.test@gmail.com",
    "testEntrepreneurPassword": "abc1234@"
}